<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed to call the Qwen API over the internet. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ChineseReaderApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChineseReader">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ChineseReader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
